body{
    display: grid;
    font-family: "Niramit", sans-serif;
    font-size: calc(2vw + 1.2vh);
    grid-template-areas: "title title title" "start start start" "form content content" "form content content";   
    /*grid-template-rows: fit-content fit-content fit-content;
    grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    box-sizing: border-box;
}

input{
    font-size: 0.6em;
    border-radius:6px;
    padding:0.15em;
}

h1 {
    text-align: center;
    grid-area:title;
    margin: 1vh 0;
    font-family: "Montserrat", "Niramit", sans-serif;
}

img{
    width:100%;
    border:none;
}

span{
    display:grid;
}

form{
    grid-area:form;
    white-space: nowrap;
    display:grid;
    align-content:space-between;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(7, auto);
    grid-auto-flow: column dense;
}

#runButton, button {
    font-size:inherit;
    border-radius:6px;
    box-shadow: 2px 2px 2px 1px lavender;
    border:none;
    margin: 1.2vh 0;
    width:100%;
    background-color: #c0c0c0;
}

#runButton{
    margin-bottom:0;
    border-radius: 6px 6px 0px 0px;
    /*border-radius: 6px 6px 6px 0px;*/
    box-shadow:none;
}

#content{
    grid-area:content;
}

#bar{
    grid-area:start;
}

#error{
    color:red;
}

#download{
    display:none;
    text-align:center;
}

#progress-container{
    height:16px;
    /*border-radius:6px;*/
    border-radius: 0px 0px 16px 16px;
    background-color:lavender;
    position:relative;
}

#progress-bar{
    height:100%;
    border-radius: 0px 0px 16px 16px;
    /*border-radius: 0px 10px 10px 6px;*/
    background-color:steelblue;
    background-color:#c0c0c0;
    width: 100%;
    position:absolute;
}

@media only screen and (max-width: 992px){
    body{
        grid-template-areas: "title title title" "form form form" "start start start" "content content content";
    }
    form{
        grid-auto-flow: row dense;
    }
}

@media only screen and (max-width: 600px){
    form{
        grid-auto-flow: column dense;
    }
}